.cart-container {
  margin: 2%;
  width: 80%;
  max-width: 25rem;

}

.cart-empty {
  width: 90%;
  height: 45rem;
  border-radius: 7rem;
  background-image: url("../image/cart_empty.png");
  background-size: 100% 45rem;
  padding: 3rem;
  padding-top: 25%;
}

.cart-empty p {
  color: #000;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1em;
  margin-bottom: 7%;
}

span {
  color: #f08f34;

  text-align: center;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1em;
}

 a {
  color:#FFF;
  position: relative;
  cursor: pointer;
  line-height: 1em; 
  text-decoration: none; 
}

 a:hover {
  color:#000;
}

.cart-item {
  padding: 4%;
  border-top: 1px solid #d9d9d9;
  background: rgba(249, 249, 249, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-item-info{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.continue-shopping {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFEBB6;
  min-height: 3rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.continue-shopping span {
  font-size: 1.2em;
}

.cart-not-empty {
  background-image: url("../image/cart.png");
  border-radius: 2rem;
  width: 100%;
  min-height: 70vh;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-info {
  background: rgba(237, 237, 237, 0.8);
  border-radius: 4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2%;
  text-align: center;
  color: #000;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5%;
}

.cart-image {
  width: 20%;
  height: 20%;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cart-product-total-price {
  color: #f08f34;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 5%;
}

.del-item {
  color: #fff;
  margin: 2% 0;
}

.title-item {
  color: #000;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plus, .minus {
  width: 25%;
  height: 130%;
  text-align: center;
  padding: 0;
}

.count-div {
  grid-area: count;
  display: flex;
}

.count {
  width: 25%;
  color: #000;

  text-align: center;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart-summary {
  margin-top: 10%;
  border-top: 1px solid #d9d9d9;
  border-radius: 2rem;

  background: rgba(227, 227, 227, 0.86);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
}

.clear-btn {  
  margin-left: auto;
  margin-right: auto;
  line-height: 1rem;
  text-align: center;
  background-color: #FFF9EA;
  color: #f08f34;
  border-radius: 1rem;

  margin-bottom: 7%;
}

.subtotal {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  color: #000;
font-size: 1.2em;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.amount {
  display: block;
}

.payment {
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  padding: 2%;

text-align: center;
font-size: 1.2em;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 1.5rem;
background: #F08F34;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.payment a {
  color:#FFF;
  font-size: 1em;
}
