

.footer {    
    width: 100%;
    background-color: rgba(177, 116, 58, 0.95);
    margin: 0 auto;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

.pizza-contacts {    
    display: flex;  
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
gap: 3rem;
    border-bottom: solid;
    border-bottom-color: rgba(255, 235, 182, 0.41);;
    border-bottom-width: 0.15rem;
}

.pizza-contact-item {
    list-style-type: none;
    color: #FFEBB6;

    text-align: center;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.copyright {
    text-align: center;
    color: #FFEBB6;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }