.header {
    background-image: url("../image/Header.png");
    background-size: 100% 105%;
    width: 100%;
}
 
 .header .flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 5%;
    padding: 1%;
 }

 .header-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5%;
 }

 .logo-main {    
    width:329px;
    height: 100px;
 }

 .cart-header {

    line-height: 300%;
    width: 50%;
    
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-color: #FFF9EA;
    border-radius: 10px;
}

.profile-header {
    line-height: 300%;
    width:15rem;   

    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-color: #FFF9EA;    
    border-radius: 10px;
}

.profile-header-a, .cart-header-a {    
    text-decoration:none;
    color: #F08F34;
    text-align: center;    
}

.logo a:hover:after,
.logo a:focus:after {
  width: 0;
} 