.body-home {
    margin-left: auto;
    margin-right: auto;
}

li>button.active {
    color: white;
    background-color: #CA792D;
}

.categories-item,
.pizzas-list-item,
.discount-list-item {
    list-style-type: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#search {
    width: 50%;
    height: 20%;
    border-radius: 25px;
    padding: 1% 2%;
    font-size: 1.5em;
}

.pizza-name:hover {
    color: #CA792D;
}

.slidebar {
    background-color: #FFEBB6;
    border-radius: 3rem;
    padding: 1%;
    margin: 0 1%;
    margin-top: 2%;
}

.categories {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;

}

.categories-item {
    margin-bottom: 1%;
    margin-top: 1%;
    line-height: 2%;
    border-radius: 3rem;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.categories-item button {
    padding: 0;
    line-height: 2%;
    border-radius: 3rem;
    background-color: #FFF;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    color: #000;
}

.discount {
    background-color: #FFEBB6;
    border-radius: 3rem;
    margin: 0 1%;
    margin-top: 1%;
}

.discount-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
}

.discount-list-item {
    line-height: 9rem;
    border-radius: 3rem;
    background-color: #FFF;
    text-align: center;
    display: grid;
    grid-template-columns: 6rem 13rem;
    grid-template-areas: "img title"
        "img descp"
        "img promo"
        "img code";
}

.present-h {
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    grid-area: title;
    margin: 2% 0;
    justify-self: center;
    align-self: center;
}

.present-description,
.present-promo,
.present-code {
    font-size: 0.8em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.present-description {
    grid-area: descp;
    justify-self: start;
}

.present-promo {
    grid-area: promo;
    justify-self: start;
}

.present-code {
    grid-area: code;
    justify-self: start;
    margin-bottom: 1%;
}

.present-img {
    grid-area: img;
    justify-self: center;
    align-self: center;
}

.template_Container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.template {
    background-color: #FFEBB6;    
    margin: 1rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
}

.description {
    width: 19rem;
    height: 8rem;
    border-radius: 3rem;
    background-color: #FFF9EA;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
}

.pizza-description {
    padding: 1%;

    text-align: center;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #000;
}

.pizza-name {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;

    color: #F08F34;
    background-color: #FFF9EA;

    text-align: center;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pizza-image {
    position: relative;
    display: inline-block;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.pizim {
    border-radius: 3rem;    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hit {
    width: 5rem;
    border-radius: 3rem;
    background: #FF0101;
    color: #FFF9EA;
    text-align: center;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;

    position: absolute;
    top: 1%;
    left: -5%;
}

.pizza-price {
    width: 5rem;
    border-radius: 3rem;
    background: #FFF9EA;
    color: #FF0101;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 500;

    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
}