
.payment-cont {
  width: 90%;
  max-width: 75rem;
  border-radius: 4rem;
  background: #ffebb6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2% 5%;
  margin: 2%;
}

.about-customer {
  width: 100%;
  max-width: 30rem;
}

.p-cart-cont {
  width: 100%;
  max-width: 30rem;
}

.order-title {
  margin: 0 auto;
  padding: 2%;
  width: 80%;
  border-radius: 2rem;
  background: #f3f3f3;
  color: #231f15;
  text-align: center;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.09em;
  margin-bottom: 5%
}

.main-span {
  color: #000;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.no-radio {
  border-radius: 1rem;
  background: #fff;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  line-height: 150%;
  width: 50%;
  padding-left: 2%;
  font-size: 1em;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 1%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #CA792D;
  border-color: #f08f34;
  color: #fff;
}

.radio-span {
  color: #231f15;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.56px;
}

.p-items-cart {
  border-radius: 11px;
  background: #fff;
  padding: 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.p-card {
  color: #231f15;
  font-size:  1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.56px;
  text-align: start;
  margin-left: auto;
  margin-right: 2%;
}

.between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2%;  
}

.p-price {
  color: #231f15;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.p-title {
  color: #231f15;
  font-size:  1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.56px;
}

.p-count {
  color: #231f15;
  font-size:  1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.56px;
}

.p-cart-product-total-price {
  color: #231f15;
  font-size:  1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.56px;
}

.p-total-span {
  color: #231f15;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-total-price {
  color: #231f15;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.56px;
}
.p-cart-item {
  display: grid;
  grid-template-columns: 65% 15% 30%;
  margin-bottom: 3%;
}

.create-line {
  width: 100%;
  border-top: 1px solid #c2c2c2;
  margin: 3% 0;
}

.btn-promo {
  margin-left: 0.5rem;
}

.order-name {
text-align: center;
  color: #231f15;
  font-size:  1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.56px;
  margin-left: auto;
  margin-right: auto;
}

.p-order {
  margin: 5% auto;
  border-radius: 18px;
  background: #f08f34;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  color: #fff;

  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.phone {
  margin-bottom: 10%;
}


